<div>
    <h1 class="card z-depth-3 center-align">The Latest from 'Times'</h1>
    <div class="row">
      <div class="col s3"></div>
      
    </div>
</div>

<div class="row">
  <div class="col s2"></div>
  <div class ="col s8 left-align">
    {{#each article}}
      <div class="card-panel">
        <h4>{{this.title}}</h4>
            </div>
    {{/each}}
  </div>
</div>