<footer class="page-footer blue lighten-3">
  <div class="footer-copyright blue">
    <div class="container ">
                
                <p class="text-muted">Copyright &copy; Stoyan Shivarov 2019</p>
    </div>
  </div>
</footer>