<footer class="page-footer blue lighten-3">
  <div class="footer-copyright blue">
    <div class="container">
              {{!-- <a class="grey-text text-lighten-4 right" href="/articles-json">Article JSON</a> --}}
    </div>
  </div>
</footer>