  <nav>
    <div class="nav-wrapper orange">
      <a href="/" class="brand-logo center">Scrape The Miami Herald Now</a>
      <ul class="right" id="nav-mobile">
        <li><a href="/scrape">Scrape</a></li>
        <li><a href="/clearAll">Clear Database</a></li>
         <li><a href="/">Refresh</a></li>
      </ul>
    </div>
  </nav>