  <nav>
    <div class="nav-wrapper orange">
       <ul class="left" id="nav-mobile">
        <li><a href="/saved_articles">Saved Articles</a></li>
        <li><a href="/">Refresh App</a></li>
      </ul>
      <a href="/" class="brand-logo center">Scrape The Miami Herald Now</a>
      <ul class="right" id="nav-mobile">
        <li><a href="/scrape">Scrape New Articles</a></li>
        <li><a href="/clearAll">Clear Articles</a></li>
         
      </ul>
    </div>
  </nav>